@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.progress {
	background-color: rgba(0,0,0,0.20);
	border-radius: 8px;
	position: relative;
	margin: 15px 0;
	height: 10px;
	width: 100%;
}

.progress-done {
	background: #fff;
	/* box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C; */
	border-radius: 4px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0; 
	transition: 1s ease 0.3s;
}

::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  background-color: rgba(250,250,250,.2) !important;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5) !important;
}

.introjs-tooltip {
  border-radius: 25px !important;
  background-color: #682676 !important;
  font-family: 'Inter', sans-serif !important;
}

.introjs-tooltiptext {
  color: white !important;
  font-family: 'Inter', sans-serif !important;
}

.introjs-tooltip-title {
  color: white !important;
}

.introjs-arrow.top,
.introjs-arrow.left,
.introjs-arrow.right,
.introjs-arrow.bottom {
  display: none !important;
}

.introjs-tooltipbuttons {
  border-top: unset !important;
}

.introjs-button {
  /* padding: 30px 20px !important; */
  font-size: 16px !important;
  border-radius: 15px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  text-shadow: none !important;
}

.introjs-button.introjs-prevbutton {
  color: white !important;
  border: 1px solid white !important;
  background-color: transparent !important;
  text-decoration: none !important;
}

.introjs-skipbutton {
  color: white !important;
}

.introjs-skipbutton:hover {
  opacity: .7 !important;
}

.introjs-disabled {
  opacity: .4 !important;
}

.introjs-helperLayer {
  border-radius: 25px !important;
}

.no-tier {
  background: '#E2E8F0';
}

.diamond {
  background: linear-gradient(90deg, #9795F0 0%, #FBC8D4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.platinum {
  background: linear-gradient(90deg, #26B06E 0%, #FFFFFF 64.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.tungsten {
  background: linear-gradient(90deg, #7D85CE 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gold {
  background: linear-gradient(90deg, #FFD12F 0%, #FFFCF3 59.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.silver {
  background: linear-gradient(90.15deg, #686868 0.13%, #FFFFFF 61.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bronze {
  background: linear-gradient(90deg, #CD7F32 -0.39%, #F1CDA9 72.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
