@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.progress {
	background-color: rgba(0,0,0,0.20);
	border-radius: 8px;
	position: relative;
	margin: 15px 0;
	height: 10px;
	width: 100%;
}

.progress-done {
	background: #fff;
	/* box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C; */
	border-radius: 4px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0; 
	transition: 1s ease 0.3s;
}

::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  background-color: rgba(250,250,250,.2) !important;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5) !important;
}

.introjs-tooltip {
  border-radius: 25px !important;
  background-color: #894DA0 !important;
  font-family: 'Inter', sans-serif !important;
  padding: 15px !important;
}

.introjs-tooltip-header {
  padding-top: 6px !important;
}

.introjs-tooltiptext {
  color: white !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
}

.member-area-tooltip {
  padding: 0 !important;
}

.member-area-tooltip .introjs-helperNumberLayer {
  color: white;
  position: absolute !important;
  width: 100% !important;
  bottom: 0 !important;
  margin-bottom: 50px !important;
}

.member-area-tooltip .introjs-tooltiptext {
  padding: 0 40px 0 33px !important;
}

.introjs-tooltiptext li {
  line-height: 20px !important;
}

.introjs-tooltip-title {
  color: white !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 18px !important;
}

.introjs-arrow.top,
.introjs-arrow.left,
.introjs-arrow.right,
.introjs-arrow.bottom {
  display: none !important;
}

.introjs-tooltipbuttons {
  border-top: unset !important;
}

.member-area-tooltip .introjs-tooltipbuttons {
  padding: 0 40px 0 33px !important;
  margin-bottom: 20px !important;
}

.introjs-button {
  /* padding: 30px 20px !important; */
  font-size: 14px !important;
  border-radius: 9.59px !important;
  font-family: 'Inter', sans-serif !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  text-shadow: none !important;
  
}

.introjs-button.introjs-prevbutton {
  color: white !important;
  border: 1px solid white !important;
  background-color: transparent !important;
  text-decoration: none !important;
  content: "Previous" !important;
}

.introjs-button.introjs-nextbutton {
  color: white !important;
  border: 1px solid white !important;
  background-color: #FFF !important;
  text-decoration: none !important;
  color: #431E5A !important;
  
}

.introjs-skipbutton {
  color: white !important;
}

.introjs-skipbutton:hover {
  opacity: .7 !important;
}

.introjs-disabled {
  opacity: .4 !important;
}

.introjs-helperLayer {
  border-radius: 25px !important;
}

.member-area-tooltip {
  margin-right: 0px !important;
  min-height: 330px !important;
}


.member-area-tooltip .introjs-tooltipbuttons {
  position: absolute !important;
  width: 100% !important;
  bottom: 0 !important;
}

.member-area-tooltip .introjs-arrow {
  display: none !important;
}

@media (min-width: 640px) { 
  .introjs-tooltip.member-area-tooltip {
    width: 433px;
    max-width: 433px !important;
    max-height: 290px !important;
    min-height: none !important;
  }

  .member-area-tooltip .introjs-tooltipbuttons {
    padding: 0 40px 0 33px !important;
    margin-bottom: 38px !important;
  }

  .member-area-tooltip .introjs-helperNumberLayer {
    margin-bottom: 39px !important;
  }
}

.no-tier {
  background: linear-gradient(90deg, #510B72 0%, #740B0B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.diamond {
  background: linear-gradient(90deg, #9795F0 0%, #FBC8D4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.platinum {
  background: linear-gradient(90deg, #26B06E 0%, #9EEFC8 64.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.tungsten {
  background: linear-gradient(90deg, #7D85CE 0%, #B7BCE7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gold {
  background: linear-gradient(90deg, #EABF28 0%, #DCCE9C 59.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.silver {
  background: linear-gradient(90.15deg, #686868 0.13%, #C8C8C8 61.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bronze {
  background: linear-gradient(90deg, #CD7F32 -0.39%, #FFC184 72.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
